.container {
    min-height: 100%;
    margin-left: 10%;
    position: relative;

    background-image: url("../shared/images/root/dojo_dashboard-black.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    // Media queries for sidebar calc
    @media screen and (min-width: 600px) {
      margin-left: 220px;
    }

    div[class^="Card_container"]:nth-child(odd) {
        background-color: rgb(250, 250, 250);
    }

    div[class^="Card_container"]:nth-child(even) {
        // background-color: rgb(210, 237, 252);
        background-color: rgb(235, 235, 235);
    }
  }
  