.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }  

.objectName {
    background-color: #1ba0e1;
    border-radius: 0.1em;
    color: white;
    text-align: center;
    padding: 0.5rem 0.5rem 0.6rem 0.5rem;
    font-family: Helvetica, Arial, sans-serif;
    max-width: fit-content;
    white-space: nowrap;
    font-size: 1rem;
}

.eventName {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: 1px solid #1ba0e1;
    border-bottom: none;
    border-left: none;
    border-radius: 0.1em;
    color: #1ba0e1;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

.tabs {
    border: 1px solid #5dbdec;
    border-bottom: none;
    margin-bottom: -0.1rem;
    border-radius: 2px 2px 0 0;
    display: flex;
    text-align: center;
    height: 3rem;
    color: #1ba0e1;
    justify-content: center;
    align-items: center;

    .active {
        background-color: #1ba0e1;
        color: white;    
    }
}

.events {
    background-color: #1ba0e1;
    color: white;
}

.debug {
    background-color: #b8e2f6;
}

.properties {
    background-color: #b8e2f6;
}